fastapi
uvicorn
sqlmodel
pydantic>=2.0.0
aiosqlite
sqlalchemy
psutil
pyautogui
python-multipart
requests
httpx
aiohttp
loguru
pydantic-settings
python-dotenv
openai
google-genai>=0.3.0
mcp>=1.0.0
# STT/TTS
edge-tts
faster-whisper
torch
safetensors
numpy<2.0.0
sentence-transformers
sounddevice
soundfile
# Image/Vision
pillow
opencv-python
easyocr
# Others
pytz
pyyaml
beautifulsoup4
pymupdf
python-docx
pyperclip
praat-parselmouth
websockets
tenacity
