fastapi
uvicorn
sqlmodel
aiosqlite
sqlalchemy
psutil
python-multipart
requests
aiohttp
loguru
pydantic-settings
python-dotenv
openai
google-genai
mcp
# STT/TTS
edge-tts
faster-whisper
torch
numpy
sentence-transformers
sounddevice
soundfile
# Image/Vision
pillow
# Others
pytz
pyyaml
beautifulsoup4
pymupdf
praat-parselmouth
websockets
tenacity
